* {
	margin: 0;
	padding: 0;
  	text-align: center;
}

body {
	height: 100%;
	background-color: #E9E8E5 !important;
}

h1 {
	padding-bottom: 20px;
}

textarea {
	text-align: left;
}

.buttons {
	margin: 30px 0;
}

